.property {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
  margin-bottom: 20px;

  &__name {
    font-size: .925rem;
    font-weight: 300;
    letter-spacing: 0.155rem;
  }

  &__value {

  }
}