.product_container {
  max-width: min(100% - 40px, 1280px);
  margin: 0 auto;
  //margin-bottom: 300px;

  .load {
    text-align: center;
    padding-top: 30px;
  }

  h1 {
    text-align: center;
    padding: 40px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .product_data {
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .left_side {
      width: 50%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .right_side {
      width: 50%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      .product_text {

      }
    }
  }
}
