.product_container {
  max-width: min(100% - 40px, 1280px);
  margin: 0 auto;
  //margin-bottom: 300px;

  .load {
    text-align: center;
    padding-top: 30px;
  }

  h1 {
    text-align: center;
    padding: 40px 0;
    font-size: 1.6rem;
    font-weight: 500;
  }

  .product_data {
    display: flex;

    @media screen and (max-width: 1024px) {
      flex-direction: column;
    }

    .left_side {
      width: 50%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }
    }

    .right_side {
      width: 50%;

      @media screen and (max-width: 1024px) {
        width: 100%;
      }

      .product_text {
        .buy {
          width: 180px;
          height: 40px;
          background: none;
          border: 1px solid black;
          font-size: 1.2rem;
          font-weight: bold;
          cursor: pointer;
          line-height: 1.2;
          text-transform: uppercase;
          transition: all .2s;

          &:hover {
            background: #e00027;
            color: white;
            border-color: #e00027;
            transition: all .2s;
          }
        }
      }
    }
  }
}