.cart {

}

.empty {
  text-align: center;
}

.cart_footer {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 40px;
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  .result {
    text-align: right;
    font-size: 1.6rem;
    font-weight: bold;
  }
  .btn {
    button {
      display: block;
      height: 40px;
      width: 85px;
      border-radius: 4px;
      background-color: #e00027;
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      cursor: pointer;

      &:hover {
        background-color: #f1163c;
      }
    }
  }
}



