.container {
  max-width: min(100% - 40px, 1280px);
  margin: 0 auto;
  background: white;

  .pagination_container {
    padding-top: min(7vh, 40px);
    border-top: 1px solid lightgray;
  }

  .products_list {

    &__wrapper {
      padding-top: 20px;
    }

    &__content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);

      @media screen and (max-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media screen and (max-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media screen and (max-width: 480px) {
        grid-template-columns: repeat(1, 1fr);
      }

      .empty {
        padding-bottom: 20px;
        place-self: center;
        text-transform: uppercase;
      }
    }
  }
}