.product {
  position: relative;
  transition: border .3s;
  padding-bottom: 5px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transition: border .3s;
    border: 2px solid #db0023;
  }

  .new {
    position: absolute;
    height: 20px;
    width: 40px;
    background: black;
    color: white;
    text-transform: uppercase;
    right: 10px;
    top: 10px;
    text-align: center;
    user-select: none;
    line-height: 1.1;
  }

  img {
    max-width: 100%;
  }

  &__info {
    padding: 8px;


    .buyBtn {
      display: block;
      width: 90%;
      margin: 0 auto;
      border: 1px solid #303c4a;
      height: 40px;
      margin-top: 10px;
      background: none;
      font-size: 0.875rem;
      font-weight: 600;
      text-transform: uppercase;
      border-radius: 2px;
      transition: all .3s;
      cursor: pointer;

      &:hover {
        background: #db0023;
        color: white;
        border: none;
        transition: all .3s;
      }
    }

    p {
      padding-bottom: 10px;
      width: 90%;
      margin: 0 auto;


      .price {

      }

      .name {
        font-weight: 600;
        color: black;
        line-height: 1.2;
        text-transform: uppercase;
      }

      .brand {
        font-weight: 500;
        color: #1e1a2c;
      }
    }
  }
}