@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: Oswald, sans-serif;
  color: #000;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
}

body {

}

#root {

}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main {

}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination {
  background: white;
  width: max-content !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  padding-bottom: 5px;
  border-radius: 5px;
}

strong.bold {
  font-weight: bold;
  font-size: 1.6rem;
}

.notFoundImg {
  display: block;
  height: 80vh;
  margin: 0 auto;
  margin-bottom: 50px;
}

.child_center {
  width: fit-content;
  margin: 0 auto;
}



