.wrapper {
  padding: 50px 0;
  padding-left: 80px;
  h1 {
    font-size: 2rem;
    padding-bottom: 30px;
  }

  .list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &__elem {
      height: 50px;
      border: 1px solid black;
      display: inline-block;
      padding: 0 10px;
      min-width: 80px;
      margin-bottom: 15px;
      border-radius: 10px;

      &:hover {
        background: rgba(156, 156, 156, 0.1);
      }

      a {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 1.4rem;
      }
    }
  }
}